.accordion {
    border: 1px solid #e4e5e7;
    max-width: 700px;
}

.accordion__section-title {
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
    text-transform: uppercase;
    background-color: #eee;
}
.accordion__section-title:hover {
    background-color: #d9d9d9;
}

.accordion__section-title--active{
    background-color: #d9d9d9;
}
.accordion__section-content {
    display: flex;
    align-items: center;
    height: 0;
    margin: 0;
    padding: 0 1em;
    overflow: hidden;
    transition: height 0.5s ease-out;
}
.accordion__section-content--toggle {
    height: 100px;
}
